azure-storage-blob==12.15.0
azure-identity==1.12.0
boto3==1.26.102
redis==4.5.4
python-json-logger==2.0.7
statsd==4.0.1
python-swiftclient==4.2.0
python-keystoneclient==5.1.0
keystoneauth1==5.1.2
# error with 5.x (ConstructorError: could not determine a constructor for the tag '!record')
PyYAML==6.0b1
prometheus_client==0.16.0
